In [277]:
import pandas as pd

# Baca file Excel
excel_file = 'raw_data/Logsheet gabungan AWS dan Pasut.xlsx'  
sheet_name = 'DUPLIKAT'     
csv_file_pasut = 'csv_data/20240714_SUROS_PRAMUKA_PASUT_15min_.csv'
csv_file_aws = 'csv_data/20240714_SUROS_PRAMUKA_AWS_15min_.csv'     

df = pd.read_excel(excel_file, sheet_name=sheet_name, converters={'Tahun': str, 'Bulan': str, 'Tanggal' : str, 'Waktu' : str})  
df

,Tahun,Bulan,Tanggal,Waktu,Kecepatan Angin (m/s),Arah angin (⁰),Temperatur(℃),Unnamed: 7,Kelembapan (%),Unnamed: 9,Curah Hujan,Tekanan (hpa),PASANG SURUT,Unnamed: 13,Unnamed: 14
0,NaN,NaN,NaN,NaN,NaN,NaN,In,Out,In,Out,NaN,NaN,BA,BB,Rata-Rata
1,2024,7,14,18.00.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,67,70,68.5
2,2024,7,14,18.15.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,67,68,67.5
3,2024,7,14,18.30.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,69,70,69.5
4,2024,7,14,18.45.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70,72,71
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
764,2024,7,22,16.45.00,0.4,8.5,36,30,67.5,67.5,0.0,758.7,42.5,36,39.25
765,2024,7,22,17.00.00,0.4,6.0,35,30,68,68,0.0,758.5,38.5,39.5,39
766,2024,7,22,17.15.00,0.2,335.0,34,30,68,69,0.0,758.6,43.5,40.5,42
767,2024,7,22,17.30.00,0.2,337.0,33,30,68,70,0.0,758.5,47.5,41.5,44.5
768,2024,7,22,17.45.00,0.65,331.5,32,30,68,73,0.0,758.5,49.5,45.5,47.5

In [278]:
koloms = df.columns
tes = list(koloms)

In [279]:
# Temperatur
header7 = koloms[6] # Temperatur akan diubah menjadi kelembaban in
header8 = koloms[7] # Unnamed akan diubah menjadi temperatur out

# Kelembaban
header9 = koloms[8] # Kelembaban akan diubah menjadi kelembaban in
header10 = koloms[9] # Unnamed akan diubah menjadi kelembaban out

# Pasang surut
header13 = koloms[12]  # Pasang surut akan diubah menjadi pasang surut batas atas
header14 = koloms[13] # Unnamed akan diubah menjadi pasang surut batas bawah
header15 = koloms[14] # Unnamed akan diubah menjadi pasang surut rata-rata

# Memperbaiki header temperatur in and out
df.rename(columns={header7: header7 + " In"}, inplace=True)
df.rename(columns={header8: header7 + " Out"}, inplace=True)

#Memperbaiki header kelembaban in and out
df.rename(columns={header9: header9 + " In"}, inplace=True)
df.rename(columns={header10: header9 + " Out"}, inplace=True)

# Memperbaiki header pasang surut
df.rename(columns={header13: header13 + " Batas Atas (cm)"}, inplace=True)
df.rename(columns={header14: header13 + " Batas Bawah (cm)"}, inplace=True)
df.rename(columns={header15: header13 + " Rata-Rata (cm)"}, inplace=True)

df

,Tahun,Bulan,Tanggal,Waktu,Kecepatan Angin (m/s),Arah angin (⁰),Temperatur(℃) In,Temperatur(℃) Out,Kelembapan (%) In,Kelembapan (%) Out,Curah Hujan,Tekanan (hpa),PASANG SURUT Batas Atas (cm),PASANG SURUT Batas Bawah (cm),PASANG SURUT Rata-Rata (cm)
0,NaN,NaN,NaN,NaN,NaN,NaN,In,Out,In,Out,NaN,NaN,BA,BB,Rata-Rata
1,2024,7,14,18.00.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,67,70,68.5
2,2024,7,14,18.15.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,67,68,67.5
3,2024,7,14,18.30.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,69,70,69.5
4,2024,7,14,18.45.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70,72,71
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
764,2024,7,22,16.45.00,0.4,8.5,36,30,67.5,67.5,0.0,758.7,42.5,36,39.25
765,2024,7,22,17.00.00,0.4,6.0,35,30,68,68,0.0,758.5,38.5,39.5,39
766,2024,7,22,17.15.00,0.2,335.0,34,30,68,69,0.0,758.6,43.5,40.5,42
767,2024,7,22,17.30.00,0.2,337.0,33,30,68,70,0.0,758.5,47.5,41.5,44.5
768,2024,7,22,17.45.00,0.65,331.5,32,30,68,73,0.0,758.5,49.5,45.5,47.5

In [280]:
df = df.drop(index=0)

df = df.reset_index(drop=True)

df

,Tahun,Bulan,Tanggal,Waktu,Kecepatan Angin (m/s),Arah angin (⁰),Temperatur(℃) In,Temperatur(℃) Out,Kelembapan (%) In,Kelembapan (%) Out,Curah Hujan,Tekanan (hpa),PASANG SURUT Batas Atas (cm),PASANG SURUT Batas Bawah (cm),PASANG SURUT Rata-Rata (cm)
0,2024,7,14,18.00.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,67,70,68.5
1,2024,7,14,18.15.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,67,68,67.5
2,2024,7,14,18.30.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,69,70,69.5
3,2024,7,14,18.45.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70,72,71
4,2024,7,14,19.00.00,0.65,52.0,35,29,61,65,0.0,757.3,66,76,71
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
763,2024,7,22,16.45.00,0.4,8.5,36,30,67.5,67.5,0.0,758.7,42.5,36,39.25
764,2024,7,22,17.00.00,0.4,6.0,35,30,68,68,0.0,758.5,38.5,39.5,39
765,2024,7,22,17.15.00,0.2,335.0,34,30,68,69,0.0,758.6,43.5,40.5,42
766,2024,7,22,17.30.00,0.2,337.0,33,30,68,70,0.0,758.5,47.5,41.5,44.5
767,2024,7,22,17.45.00,0.65,331.5,32,30,68,73,0.0,758.5,49.5,45.5,47.5

In [281]:
dfpasut = df.drop(df.columns[[4, 5, 6, 7, 8, 9, 10, 11]], axis=1)  
dfaws = df.drop(df.columns[[12, 13, 14]], axis=1)  
dfpasut

,Tahun,Bulan,Tanggal,Waktu,PASANG SURUT Batas Atas (cm),PASANG SURUT Batas Bawah (cm),PASANG SURUT Rata-Rata (cm)
0,2024,7,14,18.00.00,67,70,68.5
1,2024,7,14,18.15.00,67,68,67.5
2,2024,7,14,18.30.00,69,70,69.5
3,2024,7,14,18.45.00,70,72,71
4,2024,7,14,19.00.00,66,76,71
...,...,...,...,...,...,...,...
763,2024,7,22,16.45.00,42.5,36,39.25
764,2024,7,22,17.00.00,38.5,39.5,39
765,2024,7,22,17.15.00,43.5,40.5,42
766,2024,7,22,17.30.00,47.5,41.5,44.5
767,2024,7,22,17.45.00,49.5,45.5,47.5

In [282]:
dfaws

,Tahun,Bulan,Tanggal,Waktu,Kecepatan Angin (m/s),Arah angin (⁰),Temperatur(℃) In,Temperatur(℃) Out,Kelembapan (%) In,Kelembapan (%) Out,Curah Hujan,Tekanan (hpa)
0,2024,7,14,18.00.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024,7,14,18.15.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2024,7,14,18.30.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2024,7,14,18.45.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2024,7,14,19.00.00,0.65,52.0,35,29,61,65,0.0,757.3
...,...,...,...,...,...,...,...,...,...,...,...,...
763,2024,7,22,16.45.00,0.4,8.5,36,30,67.5,67.5,0.0,758.7
764,2024,7,22,17.00.00,0.4,6.0,35,30,68,68,0.0,758.5
765,2024,7,22,17.15.00,0.2,335.0,34,30,68,69,0.0,758.6
766,2024,7,22,17.30.00,0.2,337.0,33,30,68,70,0.0,758.5
767,2024,7,22,17.45.00,0.65,331.5,32,30,68,73,0.0,758.5

In [ ]:
# Metadata
metadata_aws = [
    "# Metadata file CSV - AWS (Automatic Weather Station)",
    "# Dibuat oleh: Firly Hafiz Syahreza",
    "# Tanggal pembuatan: 7 Januari 2025",
    "# Deskripsi: File ini berisi data pengukuran parameter cuaca dari Automatic Weather Station (AWS) di lokasi pengamatan.",
    "# Sumber data: Logsheet Excel yang telah dikonversi ke format CSV.",
    "# Lokasi: Pulau Pramuka, Kepulauan Seribu",
    "# Periode pengamatan: 14 Juli 2024 - 22 Juli 2024",
    "# Format waktu: Waktu lokal (WIB)",
    "# Penjelasan kolom:",
    "# - Tahun: Tahun pengamatan.",
    "# - Bulan: Bulan pengamatan.",
    "# - Tanggal: Tanggal pengamatan.",
    "# - Waktu: Waktu pengamatan (format HH:MM:SS).",
    "# - Keceptan Angin (m/s): Kecepatan angin dalam m/s.",
    "# - Arah angin (°): Arah angin dalam derajat.",
    "# - Temperatur (°C) In: Suhu udara disekitar konsol dalam derajat Celsius.",
    "# - Temperatur (°C) Out: Suhu udara disekitar AWS dalam derajat Celsius.",
    "# - Kelembapan (%) In: Kelembapan disekitar konsol udara dalam persen.",
    "# - Kelembapan (%) Out: Kelembapan disekitar AWS udara dalam persen.",
    "# - Curah Hujan: Curah hujan dalam mm.",
    "# - Tekanan (hpa): Tekanan udara dalam hPa (hektopascal)."
]

metadata_pasut = [
    "# Metadata file CSV - PASUT (Pasang Surut)",
    "# Dibuat oleh: Firly Hafiz Syahreza",
    "# Tanggal pembuatan: 7 Januari 2025",
    "# Deskripsi: File ini berisi data pengukuran pasang surut air laut dari lokasi pengamatan.",
    "# Sumber data: Logsheet Excel yang telah dikonversi ke format CSV.",
    "# Lokasi: Pulau Pramuka, Kepulauan Seribu",
    "# Periode pengamatan: 14 Juli 2024 - 22 Juli 2024",
    "# Format waktu: Waktu lokal (WIB)",
    "# Penjelasan kolom:",
    "# - Tahun: Tahun pengamatan.",
    "# - Bulan: Bulan pengamatan.",
    "# - Tanggal: Tanggal pengamatan.",
    "# - Waktu: Waktu pengamatan (format HH:MM:SS).",
    "# - PASANG SURUT Batas Atas (cm): Tinggi pasang surut batas atas dalam cm.",
    "# - PASANG SURUT Batas Bawah (cm): Tinggi pasang surut batas bawah dalam cm.",
    "# - PASANG SURUT Rata-Rata (cm): Rata-rata tinggi pasang surut dalam cm."
]

#AWS
# Tulis metadata dan data utama ke file CSV
with open(csv_file_aws, "w", encoding="utf-8") as f:
    for line in metadata_aws:
        f.write(line + "\n")
        
        # Menulis header kolom secara manual
    f.write(",".join(list(dfaws.columns)))
    f.write("\n")
        
    # Menulis data baris per baris
    for index, row in dfaws.iterrows():
        f.write(",".join(map(str, row.values)))
        f.write("\n")

#PASUT
# Tulis metadata dan data utama ke file CSV
with open(csv_file_pasut, "w", encoding="utf-8") as f:
    for line in metadata_pasut:
        f.write(line + "\n")
        
        # Menulis header kolom secara manual
    f.write(",".join(list(dfpasut.columns)))
    f.write("\n")
        
    # Menulis data baris per baris
    for index, row in dfpasut.iterrows():
        f.write(",".join(map(str, row.values)))
        f.write("\n")

In [284]:
try_pasut = pd.read_csv(csv_file_pasut, skiprows=len(metadata_pasut))
try_aws = pd.read_csv(csv_file_aws, skiprows=len(metadata_aws))
try_pasut

,Tahun,Bulan,Tanggal,Waktu,PASANG SURUT Batas Atas (cm),PASANG SURUT Batas Bawah (cm),PASANG SURUT Rata-Rata (cm)
0,2024,7,14,18.00.00,67.0,70.0,68.5
1,2024,7,14,18.15.00,67.0,68.0,67.5
2,2024,7,14,18.30.00,69.0,70.0,69.5
3,2024,7,14,18.45.00,70.0,72.0,71
4,2024,7,14,19.00.00,66.0,76.0,71
...,...,...,...,...,...,...,...
763,2024,7,22,16.45.00,42.5,36.0,39.25
764,2024,7,22,17.00.00,38.5,39.5,39
765,2024,7,22,17.15.00,43.5,40.5,42
766,2024,7,22,17.30.00,47.5,41.5,44.5
767,2024,7,22,17.45.00,49.5,45.5,47.5

In [285]:
try_aws

,Tahun,Bulan,Tanggal,Waktu,Kecepatan Angin (m/s),Arah angin (⁰),Temperatur(℃) In,Temperatur(℃) Out,Kelembapan (%) In,Kelembapan (%) Out,Curah Hujan,Tekanan (hpa)
0,2024,7,14,18.00.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024,7,14,18.15.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2024,7,14,18.30.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2024,7,14,18.45.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2024,7,14,19.00.00,0.65,52.0,35.0,29,61.0,65.0,0.0,757.3
...,...,...,...,...,...,...,...,...,...,...,...,...
763,2024,7,22,16.45.00,0.4,8.5,36.0,30,67.5,67.5,0.0,758.7
764,2024,7,22,17.00.00,0.4,6.0,35.0,30,68.0,68.0,0.0,758.5
765,2024,7,22,17.15.00,0.2,335.0,34.0,30,68.0,69.0,0.0,758.6
766,2024,7,22,17.30.00,0.2,337.0,33.0,30,68.0,70.0,0.0,758.5
767,2024,7,22,17.45.00,0.65,331.5,32.0,30,68.0,73.0,0.0,758.5